<% if message.is_last? %>
    <% if message.action == 'show'  %>
        <center><h2 class="display-6">Please selecte one image </h2></center>
        <div class="container">
            <div class="row">
                <% rand_id = rand(100) %>
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                        <form action="/messages/image_selection?id=<%= rand_id %>&room_id=<%= message.room.id %>" method="post" 
                            data-controller="image" data-action="turbo:submit-end->image#reset"}  remote: true  >
                            <input type="image" src="https://picsum.photos/id/<%= rand_id %>/300/300" alt="Submit"  width="300" height="300" class="card-img-top">
                        </form>
                </div>
                <div class="col-sm-3">
                    <% rand_id2 = rand_id+1 %>
                        <form action="/messages/image_selection?id=<%= rand_id2 %>&room_id=<%= message.room.id %>" method="post" data-controller="image" data-action="turbo:submit-end->image#reset" remote: true >
                            <input type="image" src="https://picsum.photos/id/<%= rand_id2 %>/300/300" alt="Submit"  width="300" height="300" class="card-img-top">
                        </form>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    <% elsif message.action == 'selected' %>
        <center><h2 class="display-6">User selected</h2></center>
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="image" src="https://picsum.photos/id/<%= message.selected %>/300/300" alt="Submit"  width="300" height="300" class="card-img-top">
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    <% end %>
    
<% end %>
