<%= turbo_stream_from @room %>

<main class="content">
    <div class="container p-0">

	<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-12 col-xl-12">
					<div class="py-2 px-4 border-bottom">
						<div class="d-flex align-items-center py-1">
                            <%= render partial: 'rooms/user_status' %>
							<div>
                                <%= link_to "Exit", clear_role_room_path( role: params[:role]), class: "btn btn-primary btn-lg mr-1 px-3" %> 							 
						</div>
					</div>
					 <hr>

					<div class="position-relative">
						<div class="chat-messages p-4 " id="messages">
							<%= render @messages %>
						</div>
					</div>

					<div class="flex-grow-0 py-3 px-4 border-top">
						<div class="input-group">
							<% if  @room.host_id.present? && @room.host_id.to_i == current_user.id && @room.player_id.present?  %>
							   <% if @room.messages.present? %>
								   <%= render partial: 'rooms/show_button_form' unless @room.messages.last.action == 'show' %>  
								<% else %>
									<%= render partial: 'rooms/show_button_form' %>
								<% end %>
							<% end %>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>

