<style>
    body{margin-top:20px;}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
</style><main class="content">
    <div class="container p-0">

		<div class="card">
			<div class="row g-0">
				
				<div class="col-12 col-lg-12 col-xl-12">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
								
							</div>
							<div class="flex-grow-1 pl-3">
								<strong>Room: <%= @room.name %></strong>
								<div class="text-muted small"><em>Message History</em></div>
							</div>
							<div>
								
							</div>
						</div>
					</div>

					<div class="position-relative">
						<div class="chat-messages p-4">
                            
                            <% @room.messages.each do |m| %>
                               <% if m.action == 'show' %>
                                    <div class="chat-message-left pb-4">
                                        <div>
                                            <img src="<%= user_gravatar(m.user) %>" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                            <div class="text-muted small text-nowrap mt-2"><%= m.created_at.strftime("%m-%d %H:%M") %></div>
                                        </div>
                                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                            <div class="font-weight-bold mb-1"><%= m.user.name %></div>
                                               Shown Images to Player
                                        </div>
                                    </div>
                                <% elsif m.action == 'selected' %>
                                    <div class="chat-message-right pb-4">
                                        <div>
                                            <img src="<%= user_gravatar(m.user) %>" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                            <div class="text-muted small text-nowrap mt-2"><%= m.created_at.strftime("%m-%d %H:%M") %></div>
                                        </div>
                                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                            <div class="font-weight-bold mb-1"><%= m.user.name %></div>
                                            Selected
                                            <input type="image" src="https://picsum.photos/id/<%= m.selected %>/300/300" alt="Submit"  width="300" height="300" class="card-img-top">
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>

							

						</div>
					</div>

					<div class="flex-grow-0 py-3 px-4 border-top">
						
					</div>

				</div>
			</div>
		</div>
	</div>
</main>