<p style="color: green"><%= notice %></p>


<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Room - <%= @room.name %></h1>
  <p class="fs-5 text-muted">Please Select Role</p>
</div>
<main>
  <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
    <div class="col" id="rooms">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Host</h4>
        </div>
        <div class="card-body">
          <% if @room.host.present? && @room.host.id.to_i == current_user.id.to_i%>
            <%= link_to "Select", chat_room_path(role: 'host'), class: "w-100 btn btn-lg btn-outline-primary" %>
          <% elsif @room.host.present? %>
            <button class="w-100 btn btn-lg btn-outline-primary disabled">Host is Present</button>
          <% elsif @room.player.present? && @room.player == current_user %>
            <button class="w-100 btn btn-lg btn-outline-primary disabled">You are player in the room</button>
          <% else   %>
            <%= link_to "Select", chat_room_path(role: 'host'), class: "w-100 btn btn-lg btn-outline-primary" %>          
          <% end %>
        </div>
      </div>
    </div>
    <div class="col" id="rooms">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Player</h4>
        </div>
        <div class="card-body">
          <% if @room.player.present? && @room.player.id == current_user.id.to_i %>
            <%= link_to "Select", chat_room_path(role: 'player'), class: "w-100 btn btn-lg btn-outline-primary" %>
          <% elsif @room.player.present? %>
            <button class="w-100 btn btn-lg btn-outline-primary disabled">Player is present</button>
          <% elsif @room.host.present? && @room.host == current_user %>
            <button class="w-100 btn btn-lg btn-outline-primary disabled">You are host in the room</button>
          <% else   %>
            <%= link_to "Select", chat_room_path(role: 'player'), class: "w-100 btn btn-lg btn-outline-primary" %>          
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
</main>